<div class="container">
  <!-- PROJECTS LIST -->
  <div class="col-50">
    <pre>{{ projects$ | async | json }}</pre>
    <!--    <workshop-projects-list-->
    <!--      [projects]="projects$ | async"-->
    <!--      (deleted)="deleteProject($event)"-->
    <!--      (selected)="selectProject($event)">-->
    <!--    </workshop-projects-list>-->
  </div>
  <!-- PROJECT DETAILS -->
  <div class="col-50">
    <workshop-project-form
      [project]="selectedProject"
      (saved)="saveProject($event)"
      (reset)="resetProjects()">
    </workshop-project-form>
  </div>
</div>
